body {
    background-color: #fff;
}

.topBarContainer {
    background-color: #FDD179;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 36px;
    margin-bottom: 5em;
}

.menuContainer {
    position: relative;
}

#menuIcon {
    cursor: pointer;
    color: #496B5B;
}

.menuContent {
    position: absolute;
    top: 35px;
    left: 0;
    background: #FDD179;
    min-width: 120px;
    display: none;
    flex-direction: column;
    z-index: 100;
    margin-top: 1em;
    border: 2px solid #496B5B;
    border-bottom: none;
}

.menuContent.show {
    display: flex;
}

.menuContent a {
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    border-bottom: 2px solid #496B5B;
}

.menuContent a:hover {
    background-color: #f8da9e;
}

.mainLogo {
    position: absolute;
    width: 125px;
    height: 165px;
    margin: 3.5em;
    margin-top: -3.2em;
}

#userIcon {
    margin-left: 3em;
}

i {
    margin: 0.5em;
}

i:hover {
    cursor: pointer;
}

a {
    color: #000;
}

.mainContainer {
    background-color: #496B5B;
    width: 80%;
    max-width: 1440px;
    height: 650px;
    margin: auto;
    display: flex;
    padding-top: 3em;
}

.mainContent-left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainPic {
    height: 350px;
    width: 350px;
}

.mainContent-right {
    width: 60%;
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-top: 5em;
}
